<mat-card class="example-card">
  <mat-card-header>
    <!--<div mat-card-avatar class="example-header-image"></div>-->
    <mat-card-title>Last Movements:</mat-card-title>
    <mat-card-subtitle>List of Registered Movements</mat-card-subtitle>
  </mat-card-header>
  <!--<img mat-card-image src="http://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
  <mat-card-content>
      <mat-table #table [dataSource]="dataSource" class="mat-elevation-z9 table-width">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="Fecha">
          <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
          <mat-cell *matCellDef="let element" >
            <!--<p>{{element.position}}</p>-->
            <p>{{element.date}}</p>
          </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Categoria">
          <mat-header-cell *matHeaderCellDef> Categoria </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <!--<p>{{element.name}}</p>-->
            <p>{{element.category}}</p>
            <p>{{element.subCategory}}</p>
          </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="Concepto">
          <mat-header-cell *matHeaderCellDef> Concepto </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <!--<p>{{element.weight}}</p>-->
            <p>{{element.commerce}}</p>
            <p>{{element.description}}</p>
          </mat-cell>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="Importe">
          <mat-header-cell *matHeaderCellDef> Importe </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <!--<p>{{element.symbol}} </p>-->
            <p>{{element.property}} </p>
            <p>{{element.value}} </p>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">SAVE and NEW</button>
    <button mat-raised-button color="accent">SAVE and Exit</button>
    <button mat-button color="warn">Exit without SAVE</button>
  </mat-card-actions>
</mat-card>

